<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="savemenow.es.protecciontotalresk.android"
    tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.emergency.section.settings.profile.ContactsEmergencttDetail"
            android:theme="@style/materialDesignbyEMF"
            android:exported="false" />
        <activity
            android:name=".view.emergency.section.settings.profile.ContactEmergencyList"
            android:theme="@style/materialDesignbyEMF"
            android:exported="false" />
        <activity
            android:name=".view.emergency.section.settings.profile.CountriesActivity"
            android:exported="false"
            android:theme="@style/materialDesignbyEMF" />
        <activity
            android:name=".view.emergency.section.settings.profile.ContactsCompActivity"
            android:exported="false" />
        <activity
            android:name=".view.emergency.section.settings.profile.ProfileMedEditActivity"
            android:exported="false"
            android:theme="@style/materialDesignbyEMF" />
        <activity
            android:name=".view.emergency.section.settings.profile.ProfileMednfoActivity"
            android:exported="false"
            android:theme="@style/materialDesignbyEMF" />
        <activity
            android:name=".view.emergency.section.settings.profile.ProfileEditActivity"
            android:exported="false"
            android:theme="@style/materialDesignbyEMF" />
        <activity
            android:name=".view.emergency.section.settings.profile.ProfileMainActivity"
            android:exported="false"
            android:theme="@style/materialDesignbyEMF" />
        <activity
            android:name=".view.emergency.section.settings.aboutApp.AboutAppActivity"
            android:exported="false"
            android:theme="@style/materialDesignbyEMF" />
        <activity
            android:name=".view.emergency.section.settings.home.SettingsMain"
            android:exported="false"
            android:theme="@style/materialDesignbyEMF" />
        <activity
            android:name=".view.emergency.section.login.LoginActivity"
            android:exported="false"
            android:theme="@style/materialDesignbyEMF" />
        <activity
            android:name=".view.emergency.section.signup.SignUpActivity"
            android:exported="false"
            android:theme="@style/materialDesignbyEMF" />
        <activity
            android:name=".view.emergency.section.preview.PreviewActivity"
            android:exported="false" />
        <activity
            android:name=".view.emergency.section.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.emergency.section.main.MainActivity"
            android:exported="true"
            android:theme="@style/materialDesignbyEMF" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key_maps" />
    </application>

</manifest>